* {box-sizing: border box;
-moz-box-sizing: border box; 
-webkit-box-sizing: border-box;}

html {background-color:#999999;
	background-image: url('nyc2.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	}
body {font-family: 'Indie Flower', cursive; 
color: #333; 
width: 90%;
background-color: #f8f7f5;
padding: 120px;
margin: 40px auto;
box-shadow: 0px 0px 40px rgba(0,0,0,.5);}

a:link {color: #88cc33;
		text-decoration: none;}
a:visited {color: #999999;}
a:hover {color: #88cc33;}
a:focus {color: #8833cc;
		background-color: white;}
a:active {color: black;}

img {
max-width: 100%;
}
#thumbnail {float: left;}
#thumbnail: hover {opacity:1;}
@media screen and (min-width:500px){
	body {width: 500px; font-size: 125%}
}
